<html>
<body>
<header>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Выход"/>
    </form>
</header>
<!---->
<!--Форма ввода информации об объекте-->
<!---->
<div>Информация об объекте:
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <br><input type="text" name="chooseSubjectName" placeholder="название"></br>
        <br><input type="number" name="choosePrice" placeholder="цена"></br>
        <br><select name="chooseRegion" placeholder="район" value="{{#filterRegion}}{{filterRegion}}{{/filterRegion}}">
            <option>Адмиралтейский район</option>
            <option>Василеостровский район</option>
            <option>Выборгский район</option>
            <option>Калининский район</option>
            <option>Кировский район</option>
            <option>Колпинский район</option>
            <option>Красногвардейский район</option>
            <option>Красносельский район</option>
            <option>Кронштадтский район</option>
            <option>Курортный район</option>
            <option>Московский район</option>
            <option>Невский район</option>
            <option>Петроградский район</option>
            <option>Петродворцовый район</option>
            <option>Приморский район</option>
            <option>Пушкинский район</option>
            <option>Фрунзенский район</option>
            <option>Центральный район</option>
        </select></br>
        <br><input type="text" name="chooseAddress" placeholder="адрес"></br>
        <br><input type="number" name="chooseArea" placeholder="площадь"></br>
        <br><input type="text" name="chooseInfo" placeholder="характеристики"></br>
        <br><select name="chooseMedia">
            <option>мультимедиа в наличии</option>
            <option>мультимедиа отсутствует</option>
        </select></br>
        <br><input type="file" name="file" placeholder="фото"></br>

        <br>
        <button name="publishSubject" type="submit">Опубликовать</button>

        <button name="clear" type="reset">Очистить</button>
        </br>
        <br></br>
        <br><button name="backToReestr" type="button"><a href="/">Вернуться к реестру</a></button></br>
    </form>
</div>
</body>
</html>

