<html>
<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Выход"/>
</form>
<br><a href="/add-new-object">Добавить новый объект</a></br>
<br><a href="/user">Просмотреть список пользователей</a></br>
<br> </br>
<!---->
<!--ФИЛЬТРЫ-->
<!---->
<div>Показать бронирования</div>
<form method="get" action="/admin-reestr" >
        <input type="date" name="wanteddate" placeholder="выберите дату" value="{{#wanteddate}}{{wanteddate}}{{/wanteddate}}"/>
        <button name="filterShow" type="submit">Показать</button>
</form>
<br> </br>
<!---->
<!--ПЕРЕЧЕНЬ ОБЪЕКТОВ-->
<!---->




<div>Список доступных объектов на выбранную дату:</div>
<br>
<table>
    <tbody>
    {{#reserves}}
        <tr>
            <th>
                <div>
                    <table>
                        <tbody>
                        <tr>
                            <th>
                                <p><img src="{{subject.filename}}"  width="160" height="100" alt="{{subject.subjectName}}"></p>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th>
            <th>
                <div>
                    <table>
                        <tbody>
                        <tr><th align="left" vertical-align="top">{{subject.subjectName}}</th></tr>
                        <tr><th align="left" vertical-align="top"></th></tr>
                        <tr><th align="left" vertical-align="top">цена: {{subject.price}}</th></tr>
                        <tr><th align="left" vertical-align="top">адрес: {{subject.address}}</th></tr>
                        <tr><th align="left" vertical-align="top">район: {{subject.region}}</th></tr>
                        <tr><th align="left" vertical-align="top">забронировал пользователь:  {{user.username}}</th></tr>
                        </tbody>
                    </table>
                </div>
            </th>
        </tr>
    {{/reserves}}
    </tbody>
</table>
</body>
</html>

