<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
Извините, невозможно повторно создать подобную запись
<br></br>
<a href="/">Вернуться к реестру</a>
</body>
</html>

<!--форма для загрузки-->
<!--<form method="post" enctype="multipart/form-data">-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--    <p>Загрузите список станций метро: <input type="file" name="fileMetroStations">-->
<!--        <input name="updateMetroStations" type="submit" value="Отправить"></p><br>-->
<!--</form>-->