<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<!---->
<!--КНОПКА ПЕРЕХОДА К АВТОРИЗАЦИИ-->
<!---->
<br><button name="login" type="button"><a href="/login">Вход</a></button></br>
<br>
<!---->
<!--ФИЛЬТРЫ-->
<!---->
<form method="get" action="/" >
<div>
    Выберите нужную дату: <input type="date" name="wanteddate" placeholder="выберите дату" value="{{#wanteddate}}{{wanteddate}}{{/wanteddate}}"/>
    <button name="filterShow" type="submit">Показать</button>
</div>
    <br>Цена не более:<input type="number" name="filterPrice" value="{{#filterPrice}}{{filterPrice}}{{/filterPrice}}"></br>
    <br>Район: <select name="filterRegion" placeholder="район" value="{{#filterRegion}}{{filterRegion}}{{/filterRegion}}">район:
        <option></option>
        <option>Адмиралтейский район</option>
        <option>Василеостровский район</option>
        <option>Выборгский район</option>
        <option>Калининский район</option>
        <option>Кировский район</option>
        <option>Колпинский район</option>
        <option>Красногвардейский район</option>
        <option>Красносельский район</option>
        <option>Кронштадтский район</option>
        <option>Курортный район</option>
        <option>Московский район</option>
        <option>Невский район</option>
        <option>Петроградский район</option>
        <option>Петродворцовый район</option>
        <option>Приморский район</option>
        <option>Пушкинский район</option>
        <option>Фрунзенский район</option>
        <option>Центральный район</option>
    </select></br>
</form>

<!---->
<!--ПЕРЕЧЕНЬ ОБЪЕКТОВ-->
<!---->
<br>
<br>
<div>Список доступных объектов на выбранную дату:</div>
<br>
<table>
    <tbody>
    {{#subjects}}
        <tr>
            <th>
                <div>
                    <table>
                        <tbody>
                        <tr>
                            <th>
                                    <p><img src="{{filename}}"  width="160" height="100" alt="{{subjectName}}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div>
                                    <form method="get" action="/reservation" >
                                        <br><button type="submit"><a href="/reservation/{{IDSubject}}">Забронировать</a><</button></br>
                                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                        <input type="hidden" name="subjectForReserve" value="{{IDSubject}}" />
                                    </form>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th>
            <th>
                <div>
                    <table>
                        <tbody>
                        <tr><th align="left" vertical-align="top">{{subjectName}}</th></tr>
                        <tr><th align="left" vertical-align="top"></th></tr>
                        <tr><th align="left" vertical-align="top">цена: {{price}}</th></tr>
                        <tr><th align="left" vertical-align="top">адрес: {{address}}</th></tr>
                        <tr><th align="left" vertical-align="top">район: {{region}}</th></tr>
                        <tr><th align="left" vertical-align="top">характеристики: {{info}}</th></tr>
                        <tr><th align="left" vertical-align="top">{{media}}</th></tr>
                        <tr><th align="left" vertical-align="top">площадь: {{area}}</th></tr>
                        </tbody>
                    </table>
                </div>
            </th>
        </tr>
    {{/subjects}}
    </tbody>
</table>
</body>
</html>

