<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
Создать учетную запись:
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> Номер телефона : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
<br></br>
<a href="/">Вернуться к реестру</a>
</body>
</html>
