<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
Выбрать датy:
<form method="post">
    <input type="date" name="wanteddate"/>
    <input type="hidden" name="IDSubjectForReserve" value="{{IDSubjectForReserve}}"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

    <input type="submit" value="Подтвердить!"/>
</form>
<br></br>
<a href="/">Вернуться к реестру</a>
</body>
</html>
