<html>
<body>
<div>Список пользователей</div>
<table>
    <thead>
    <tr>
        <th>Телефон</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    {{#userList}}
        <tr>
            <th>{{username}}</th>
            <th>{{roles}}</th>
        </tr>
    {{/userList}}
    </tbody>
</table>
<br></br>
<br><a href="/admin-reestr">Вернуться в ЛК администратора</a></br>
<br><a href="/">Перейти к общему реестру</a></br>
</body>
</html>

